[submodule "app/plugins/minify"]
	path = app/plugins/minify
	url = https://github.com/connrs/minify.git
[submodule "app/plugins/wizard"]
	path = app/plugins/wizard
	url = https://github.com/jaredhoyt/cakephp-wizard.git
[submodule "app/webroot/js/jqf"]
	path = app/webroot/js/jqf
	url = https://github.com/malsup/form.git
