

#wizardContainer .smartbox {
    padding: 0px;
    margin: 0px;
    z-index: 100 !important;
}

#wizardBottomBar {
    margin: 1em -1px -1px -1px;
    padding: -1px;
    font-size: 120%;    
}
#wizardProgressButtons {
    text-align: right;
    padding-left: 4px;
}
#wizardProgressBarContainer {
    display: block;
    border-left: 1px solid #8a9881;
    margin-left: -1px;
    z-index: 201 !important;
    
}
#wizardProgressBar .progressbarPadding {
    padding: 9px 15px 9px 15px;
    
    cursor: pointer !important;
    margin: -1px;
    margin-right: -7px;
    z-index: 202 !important;
}

#wizardBottomBar .fg-button {
    margin: 4px -1px 4px 0px;
}
#wizardBottomBar input[type=submit] {
    margin: 0px;
}

#wizardContainer fieldset {
    margin: 0px 4%;
}
#wizardContainer fieldset fieldset {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
#wizardContainer fieldset legend {

}

/* specific form element fixen */

#wizardContainer form select {
    width: 100%;
}

/* padding */
.paddedCell_5 {
    padding: 5px;
}

.paddedCell_10 {
    padding: 10px;
}
.grid_h_padding {
    padding-left: 10px;
    padding-right: 10px;
}

/* this thing pops in from the right of the wizard when the progress bar is clicked */
#wizardDetailColumn {

    display: block;

    z-index: 201 !important;
    margin: 0px;
    padding: 0px;
    padding-right: 3px;
    padding-left: 1px;
    margin-left: -1px;

    background-color: rgba(255,255,255,0.5);
    border: 1px solid #8a9881;
    overflow: hidden;
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
/*
    color: rgba(240,240,240,.9);
    background-color: rgba(12,12,12,.9);*/
       
}

.mobile-layout #wizardDetailColumn {
    position: absolute;
    display: block;
    float: none;
    
}


#FindLatLonBySiteNameButton {
    margin-top: 2.8em;
    width: 100%;
}
.mobile-layout #FindLatLonBySiteNameButton {
    margin-top: .2em !important;
    margin-bottom: .8em;
}