body {
    font-family: sans-serif;
    font-size: 11.5pt;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    color: #505451;
}

a {
    color: #000082;
    text-decoration: none;
}
a:hover {
    color: #cf0404;
}

p.error a:hover {
    color: #fafafa;
}

a.fg-button {
    color: #506241;
    text-decoration: none;
}
a.fg-button:hover, p.error a.fg-button:hover {
    color: #444;
}



em {
    font-style: italic;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size: 2em;
}

.heading-bones {
    background: url('/img/heading_bones.png') center left no-repeat transparent;
}

p, address {
    margin: 20px;
    text-align: justify;
}

address {
    font-style: normal;
}

ol {
    display: block;
    margin: 1.5em 2em;
}
li {
    padding: .2em;
    text-align: justify;
}

/* class for padding 960 grid divs at the top */
.grid_under {
    margin-top: 20px;
}
/* but don't do that, just change them all! \o/ '*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-bottom: 20px;
}

/* but don't do that, just change them all! \o/ '*/
#wizardContainer .smartbox .grid_1,
#wizardContainer .smartbox .grid_2,
#wizardContainer .smartbox .grid_3,
#wizardContainer .smartbox .grid_4,
#wizardContainer .smartbox .grid_5,
#wizardContainer .smartbox .grid_6,
#wizardContainer .smartbox .grid_7,
#wizardContainer .smartbox .grid_8,
#wizardContainer .smartbox .grid_9,
#wizardContainer .smartbox .grid_10,
#wizardContainer .smartbox .grid_11,
#wizardContainer .smartbox .grid_12 {
  margin-bottom: 5px;
}

/* The background comes in 2 layers;
Adapted from: http://www.willsloan.com/blog/design/full-page-backgrounds/ - thanks!

*/
#bg1 {

    background: #b6d4b0; /* Old browsers */
    background: -moz-linear-gradient(top, #b6d4b0 0%, #a0aac1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6d4b0), color-stop(100%,#a0aac1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b6d4b0 0%,#a0aac1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b6d4b0 0%,#a0aac1 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b6d4b0 0%,#a0aac1 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6d4b0', endColorstr='#a0aac1',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #b6d4b0 0%,#a0aac1 100%); /* W3C */

    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -2;

}
#bg2 {
    
    background: url('/img/bg_spiral.png') transparent center center no-repeat;

    /* Uncomment to scale background (doesn't look as good with current bg which is designed to crop)
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    */
	
    position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;

}




#container {
    z-index: 5;
    padding: -1px 20px 0px 20px;
    margin: -1px auto 10px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #8a9881;
    overflow: hidden;
}


#pageContent {
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

/* headers and footers*/

footer {
    clear: both;
    padding: 0px 2px;
    margin-top: 0px;
    position: relative;
    font-variant: small-caps !important;
    
}
footer .smartsharp {
    margin: -10px 2px -1px -2px;
    padding: 2px;
}
footer .smartsharp  div {
    margin: 0px;
    padding: 0px;
}
footer .fg-button {
    position: relative;
    top: 0px;
    bottom: 0px;
    margin: -3px 4px;
    padding: 10px .6em;
    line-height: inherit;
    display: inline;
    float: right !important;
}
footer div.footerText {
    padding: 5px 1em;
}

/* to get rid of ugly gap under header */
header, footer, .no-v-margin {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

header {
    display: block;
    position: relative;
    padding-top: 21px;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
    top: -1px;
}

.mobile-layout header nav div {
    margin-bottom: 10px;
}

.mobile-layout #container {
    padding-right: -1px !important;
    padding-left: -1px !important;
    border-width: 0px;
    border-bottom-width: 1px;
}
.mobile-layout #bg2 {
    
}
.mobile-layout .grid_1,
.mobile-layout .grid_2,
.mobile-layout .grid_3,
.mobile-layout .grid_4,
.mobile-layout .grid_5,
.mobile-layout .grid_6,
.mobile-layout .grid_7,
.mobile-layout .grid_8,
.mobile-layout .grid_9,
.mobile-layout .grid_10,
.mobile-layout .grid_11,
.mobile-layout .grid_12 {
    margin-left: -6px;
    margin-right:-6px;
    padding: 5px;
    
}

.mobile-layout header.grid_12 {
    margin-left: 20px;
}

.mobile-layout #wizardContainer fieldset {
    margin: 0;
    padding-left: 5px;
    padding-right: 10px;
}

/* smartboxes are smart */
.smartbox {
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.smartbox, .smartsharp {
    padding: 0px 5px;
    margin: 0px;
    overflow: hidden;
}
.smartbox, .smartsharp, .smart {
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #8a9881;
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}
/* a nice hr to break up smartboxen gradient bgs don't work in <hr>s in ff :-(' */
.smartbox .smartHr, .smartsharp .smartHr {
    height: 1px;
    margin: 2px -5px;
    color: #8a9881;
    border: none;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, rgba(182,212,176,1.0)),
        color-stop(1, rgba(182,212,176,0.5))
    );
    background-image: -moz-linear-gradient(
        top left,
        rgba(182,212,176,1.0) 0%,
        rgba(182,212,176,0.5) 100%
    );
    -moz-box-shadow: 1px 1px 1px rgba(182,212,176,0.5);
    -webkit-box-shadow: 1px 1px 1px rgba(182,212,176,0.5);

}

.smartbox .sbHeading {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius-top: 5px;
    margin: 0px -5px 0px -5px;
    padding: 4px 8px 1px .8em;
    text-shadow: rgba(173,179,194,1) 0px 0px 2px;
    overflow: hidden;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        right bottom,
        color-stop(0.45, rgba(255,255,255,.7)),
        color-stop(0.95, rgba(255,255,255,0))
    );
    background-image: -moz-linear-gradient(
        left center,
        rgba(255,255,255,.7) 45%,
        rgba(255,255,255,0) 95%
    );
}
.smartbox .sbHeading.heading-bones {
    margin: -4px -8px -1px -.5em;
    padding: 4px 8px 1px .5em;
}
#wizardContainer .smartbox .sbHeading {
    margin: 0px -5px 10px 0px;
    padding: 4px 8px 5px .5em;
}




/* classes from http://www.filamentgroup.com/lab/styling_buttons_and_toolbars_with_the_jquery_ui_css_framework/ */

.fg-button {
   font-size: .9em;
   outline: 0;
   text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
   margin: 0px;
   padding: 4px 8px;
   text-decoration:none !important;
   cursor:pointer;
   position: relative;
   text-align: center;
   zoom: 1;
}
.fg-button.ui-priority-secondary {
   padding: .2em .5em;
   font-size: 0.8em;
   text-shadow: 1px 1px 0px rgba(255, 255, 255, 1.0);
}
.fg-button.ui-priority-primary {
   text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
}
/*for putting 2° buttons next to 1° ones*/
.fg-button.ui-margin-match-primary {
    margin-top: .2em;
    margin-bottom: .2em;
}
.fg-button .ui-icon {
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
a.fg-button {
    float: left;
    line-height: normal;
}
button.fg-button {
    overflow: visible;
    width: auto;
    line-height: normal;
}
.fg-button-icon-left {
    padding-left: 2.1em;
}
.fg-button-icon-right {
    padding-right: 2.1em;
}
.fg-button-icon-left .ui-icon {
    left: 0.2em;
    margin-left: 0;
    right: auto;
}
.fg-button-icon-right .ui-icon {
    left: auto;
    margin-left: 0;
    right: 0.2em;
}
.fg-button-icon-solo {
    display: block;
    text-indent: -9999px;
    width: 8px;
}
.fg-buttonset {
    float: left;
}
.fg-buttonset .fg-button {
    float: left;
}
.fg-buttonset-single .fg-button, .fg-buttonset-multi .fg-button {
    margin-right: -1px;
}
.fg-toolbar {
    margin: 0;
    padding: 0.5em;
}
.fg-toolbar .fg-buttonset {
    margin-right: 1.5em;
    padding-left: 1px;
}
.fg-toolbar .fg-button {
    font-size: 1em;
}

header nav .fg-buttonset {
    margin-bottom: 1em;
}


/* Call To Action stuffs*/

.cta-button {
    margin: 20px;
    font-size: 1em;
    font-weight: bold;
    display: block;
    float: none !important;
    clear: both;
}

/* used in wizard index cta buttons */
.subtler-text {
    color: rgba(102,120,130,.5);
}

/* logos and other static and±or floaty shit */

#thermalAgeLogo {
    display: block;
    background: url('/img/logo_text_small.png') center center no-repeat;
    width: 247px;
    height: 42px;
    margin: -3px 10px 0px 12px;
    color: rgba(255,255,255,0);
}

#topMainMenu {
    float: right;
    margin-right: .5em;
}


/* home page and other one-off items */
.lead-image-small {
    float: left;
    margin: 25px 10px 5px 20px;
}

#flying-donkey {
    background: url('/img/overwhelmed.png') bottom left no-repeat transparent;
    height: 265px;
    max-width: 500px
}
.smartbox #flying-donkey {
    margin: 0px -5px;
}

.imagey-link {
    margin: 1em auto;
    display: block;
    overflow: hidden;
    padding: 0.3em 0.3em 0em 0.3em;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid rgba(138,152,129,.7);
    text-align: center;
    font-style: italic;
}
.imagey-link:hover {
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(138,152,129,1);
}
.imagey-link img {
    
}


/* ui gradiwent bg used extensively */
.ui-ish {
    color: #505451;
    background-image: -webkit-gradient(
        linear,
        right top,
        right bottom,
        color-stop(0, rgba(231,237,234,.5)),
        color-stop(1, rgba(212,223,218,.5))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgba(231,237,234,.5) 0%,
        rgba(212,223,218,.5) 100%
    );
}
.smartbox .ui-ish {
    margin: 0px -5px 0px -5px;
}



/** Forms from cake.generic.css **/
.cakeform form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
.cakeform fieldset {
	border: 1px solid #ccc;
	margin: 1em;
	padding: 16px 20px;
}
.cakeform fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
.cakeform fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
.cakeform fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
.cakeform fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
.cakeform div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form div.input {
	color: #444;
    
}
form div.input select {
    width: 100%;    margin-right: .85em;
}
input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly] {
    background-color: #eee;
    color: #aaa;
}
form .required {
	font-weight: bold;
}
form .help {
    font-size: 80%;
    padding: 2px 5px;
    font-variant: italic;
    color: #777;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
.cakeform form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 100%;
	margin: 10px 0px 0px .1em;
	
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 5px 5px;
	width:98%;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
input:focus, textarea:focus, select:focus {
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #ede9ce 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ede9ce)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#ede9ce 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcfc 0%,#ede9ce 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fcfcfc 0%,#ede9ce 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ede9ce',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #fcfcfc 0%,#ede9ce 100%); /* W3C */
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 4px 6px 3px 2px;
	width: auto;
}
div.checkbox label {
	
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	
	width: auto;
}


/** Notices and Errors **/
div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;
}
div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
p.error {
	color: #fff;
	background: url('/img/sadface_white_trans.png') left center no-repeat #e32;
    background-position: 10px;
    padding: 0.8em;
    padding-left: 100px;
	font-size: 120%;
	line-height: 140%;
	
	margin: 1em;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/**  Actions (still from cake)  **/
div.actions ul {
	margin: 0;
	padding: 0;
}
div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.actions ul li a:hover {
	text-decoration: underline;
}

/*input[type=submit],*/
div.actions ul li a,
td.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background:#e6e49f;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
	background-image: -moz-linear-gradient(top, #f1f1d4, #e6e49f);
	color:#333;
	border:1px solid #aaac62;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}
/*input[type=submit]:hover,*/
div.actions ul li a:hover,
td.actions a:hover {
	background: #f0f09a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e1), to(#eeeca9));
}




/* cake form error class */

form div.error-message {
    border-radius-bottom:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	padding: 1px 9px;
    margin: -2px 5px 5px 1em;
    float: right;
}

/* cake sql dump */

.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}


/* padding (more in ..._wizard.css */
.paddedCell_10_h {
    padding-left: 10px !important;
    padding-right: 10px !important;
}


/* feedback button (is red) */
.fg-button.feedbackButton {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    background: #ff3019;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
    background: linear-gradient(top, #ff3019 0%,#cf0404 100%);
    color: #fafafa;
    font-weight: bold;
}
.fg-button.feedbackButton:hover {
    background: #cf0404;
    background: -moz-linear-gradient(top, #cf0404 0%, #ff3019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf0404), color-stop(100%,#ff3019));
    background: -webkit-linear-gradient(top, #cf0404 0%,#ff3019 100%);
    background: -o-linear-gradient(top, #cf0404 0%,#ff3019 100%);
    background: -ms-linear-gradient(top, #cf0404 0%,#ff3019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019',GradientType=0 );
    background: linear-gradient(top, #cf0404 0%,#ff3019 100%);
    color: #fafafa;
    font-weight: bold;
}



/* mood slider */

.ui-slider, .ui-slider-handle {
    cursor: pointer;
}

div.moodSlider.ui-slider-horizontal {
    background: #e21212;
    background: -moz-linear-gradient(left, #e21212 0%, #a4a861 50%, #63d313 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e21212), color-stop(50%,#a4a861), color-stop(100%,#63d313));
    background: -webkit-linear-gradient(left, #e21212 0%,#a4a861 50%,#63d313 100%);
    background: -o-linear-gradient(left, #e21212 0%,#a4a861 50%,#63d313 100%);
    background: -ms-linear-gradient(left, #e21212 0%,#a4a861 50%,#63d313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e21212', endColorstr='#63d313',GradientType=1 );
    background: linear-gradient(left, #e21212 0%,#a4a861 50%,#63d313 100%);
    margin: 1px 3px 2px 3px;
}
div.moodSlider.ui-slider a.ui-slider-handle {
    background: none;
    background-color: rgba(255,255,255, 0.3);
    border-width: 3px 1px 3px 1px;
    margin-top: -.15em;
    margin-left: -7px;
    
    border-color: #777;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 3px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 3px rgba(0, 0, 0, 0.75);
}
div.moodSlider.ui-slider a.ui-slider-handle.ui-state-active {
    border-color: #333;
}
div.moodSlider.ui-slider-horizontal .sliderLabelInternal {
    font-weight: bold;
    font-size: 9px;
    letter-spacing: 1px;
    padding: 0px;
    margin: -2px 5px 0px 5px;
    color: #fafafa;
}

.expand-embeds .embed-svg{
    margin: 0px;
    width: auto;
    height: auto;
}
.expand-embeds .embed-svg svg {
    display: block;
    margin: 0px auto;
}


/* created for user profile but some generic stuff */
ul.objectList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.objectList > li {
    
    margin: 0 -5px;
    border: 1px solid #8A9881;
    border-width: 1px 0 0 0;
    padding: .5em;
    
    background: -moz-linear-gradient(top, rgba(250,250,250,0.35) 0%, rgba(203,214,208,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,0.35)), color-stop(100%,rgba(203,214,208,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(250,250,250,0.35) 0%,rgba(203,214,208,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(250,250,250,0.35) 0%,rgba(203,214,208,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(250,250,250,0.35) 0%,rgba(203,214,208,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(250,250,250,0.35) 0%,rgba(203,214,208,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59fafafa', endColorstr='#a6cbd6d0',GradientType=0 ); /* IE6-9 */
}