

#wizardContainer .smartbox {
    padding: 0px;
    margin: -1px;
    
}

#wizardBottomBar {
    margin: 1em -1px -1px -1px;
    padding: -1px;
    font-size: 120%;    
}
#wizardProgressButtons {
    background-color: #8080ff;
    
    
}
#wizardProgressBar {
    background-color: #ff8080;
    
}
#wizardBottomBar input[type=submit] {
    float: right;
}

#wizardContainer fieldset {

}
#wizardContainer fieldset legend {

}