body {
    font-family: sans-serif;
    font-size: 12px;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #505451;
}

h1 {
    background: transparent;
}

a {
    color: #506241;
    text-decoration: none;
}
em {
    font-style: italic;
}

.prose p, .prose li {
    font-size: 13px;
    letter-spacing: .06em;
    line-height: 1.4em;
    text-align: justify;
    color: #505451;
}
.prose p {
    margin: 0.5em 5em 0.5em 3.5em;
    text-indent: 0em;
}
.prose p + .prose p   {
    text-indent: 1em;
}
.prose li {
    margin: .5em 5em .5em 4.5em;
    list-style: disc;
}
