/* for the layout of the form elements */
.wf-cell {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
    background-color: #f00;
}

#wizardContainer .smartbox {
    padding: 0px;
    margin: 0px;
}

#wizardBottomBar {
    margin: 1em -1px -1px -1px;
    padding: .4em .4em;
    font-size: 120%;    
}
#wizardProgressButtons {

}
#wizardProgressBar {

}